.over-1{
    height: 150px;
    width: 150px;
    background-color: #ffc0cb;
    overflow:auto;
}

.over-2{
    height: 150px;
    width: 150px;
    background: purple;
    overflow: scroll;
}

h1{
    display: inline;
}